:root {
  --font-color: #111;
  --icon-color: #111;
  --bg-color: #fff;
  --max-cont-width: 62.5rem;
  --primary-color: #222;
  --secondary-color: #ccc;
  --border-color: #eaeaea;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}
