.header {
  width: 100%;
  height: 4.4rem;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: var(--bg-color);
  z-index: 10;
}

.iconNav ul {
  list-style: none;
  display: flex;
}

.mainNav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: var(--max-cont-width);
}
.logo {
  color: var(--font-color);
  cursor: pointer;
  width: 4rem;
  height: 4rem;
}
.searchIcon {
  width: 1.5em;
  height: 1.5em;
  color: var(--icon-color);
  margin-right: 0.5rem;
}
.cartIcon {
  width: 1.5em;
  height: 1.5em;
  color: var(--icon-color);
  margin-right: 0.5rem;
}
.menuIcon {
  width: 1.5em;
  height: 1.5em;
  color: var(--icon-color);
  margin-right: 0.5rem;
}
