.container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.main {
  padding: 5.3rem 0 1rem 0;
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
